/*Default*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Mobile First Content*/
body {
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;

  font-family: "Outfit";
  font-size: 1rem;
  color: hsl(30, 10%, 34%);
  font-weight: 400;
  font-style: normal;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border-bottom: 1.5px solid hsl(30, 18%, 87%);
}

.article_line {
  margin: 0.8rem 0;
}
.info_table td {
  padding: 0.8rem 0;
}

.info_table tr:last-child td {
  border-bottom: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 54%, 90%);
}

.mobile_content {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 1.5rem;
}

.recipe_container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
}

.list {
  padding-left: 1.5rem;
  color: hsl(30, 10%, 34%);
}

.list li {
  padding-left: 1rem;
}

.list li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 800;
}

/*FONTS*/
.main_heading {
  font-family: "Young Serif";
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.7rem;
  color: hsl(24, 5%, 18%);
}

.two {
  background-color: hsl(330, 100%, 98%);
  padding: 1.5rem;
  border-radius: 1rem;
}

.h3 {
  font-size: 1.25rem;
  color: hsl(332, 51%, 32%);
  padding-bottom: 1rem;
}

.h2 {
  font-family: "Young Serif";
  font-weight: 400;
  font-size: 1.75rem;
  color: hsl(14, 45%, 36%);
  padding-bottom: 1rem;
}

td:nth-child(2) {
  font-weight: 800;
  color: hsl(14, 45%, 36%);
}

.center_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.center_list li {
  display: flex;
  align-items: center;
}

.center_list p {
  margin: 0;
}
.center_list li::before {
  content: "•";
  font-size: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 0.25rem;
  line-height: 2rem;
  color: hsl(332, 51%, 32%);

  display: inline-flex;
  align-items: center;
  height: 2rem;
}
ol.list li {
  padding-bottom: 0.65rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;
  background-color: hsl(30, 54%, 90%);
  font-size: 0.9rem;
}

footer a {
  text-decoration: none;
  color: black;
}

/*Media Queries*/
@media (min-width: 720px) {
  body {
    font-size: 1rem;
  }
  .main_heading {
    padding-top: 0;
  }
  .mobile_content {
    width: 46rem;
    margin: 5rem 0;
    padding: 2.5rem;
    border-radius: 1rem;
  }
  .recipe_container {
    padding-top: 1.95rem;
    padding-bottom: 0;
    gap: 2rem;
  }
  img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
  }
}
